<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SearXNGAPIKey</key>
	<string>5fe096891f3ff08e10be247ca5fe906ac3ed6f833e1abdcc398fb8a5942befea


</string>
	<key>SearXNGSearchProxyURL</key>
	<string>https://search.noemaai.com</string>
</dict>
</plist>
